src/META-INF/wsdl/10.154.2.153_65080/PasswordCrackingServer/MasterWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://master/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://master/" name="MasterWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://master/" schemaLocation="http://10.154.2.153:65080/PasswordCrackingServer/MasterWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="printWords">
<part name="parameters" element="tns:printWords"/>
</message>
<message name="printWordsResponse">
<part name="parameters" element="tns:printWordsResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getWords">
<part name="parameters" element="tns:getWords"/>
</message>
<message name="getWordsResponse">
<part name="parameters" element="tns:getWordsResponse"/>
</message>
<message name="getPasswords">
<part name="parameters" element="tns:getPasswords"/>
</message>
<message name="getPasswordsResponse">
<part name="parameters" element="tns:getPasswordsResponse"/>
</message>
<message name="sendResult2">
<part name="parameters" element="tns:sendResult2"/>
</message>
<portType name="MasterWebService">
<operation name="printWords">
<input wsam:Action="http://master/MasterWebService/printWordsRequest" message="tns:printWords"/>
<output wsam:Action="http://master/MasterWebService/printWordsResponse" message="tns:printWordsResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://master/MasterWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://master/MasterWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getWords">
<input wsam:Action="http://master/MasterWebService/getWordsRequest" message="tns:getWords"/>
<output wsam:Action="http://master/MasterWebService/getWordsResponse" message="tns:getWordsResponse"/>
</operation>
<operation name="getPasswords">
<input wsam:Action="http://master/MasterWebService/getPasswordsRequest" message="tns:getPasswords"/>
<output wsam:Action="http://master/MasterWebService/getPasswordsResponse" message="tns:getPasswordsResponse"/>
</operation>
<operation name="sendResult2">
<input wsam:Action="http://master/MasterWebService/sendResult2" message="tns:sendResult2"/>
</operation>
</portType>
<binding name="MasterWebServicePortBinding" type="tns:MasterWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="printWords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getWords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPasswords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendResult2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="MasterWebService">
<port name="MasterWebServicePort" binding="tns:MasterWebServicePortBinding">
<soap:address location="http://10.154.2.153:65080/PasswordCrackingServer/MasterWebService"/>
</port>
</service>
</definitions>